h1 {
  font-family: 'Russo One';
}

h2 {
  margin-left: 2%;
  margin-top: 0.5em;
  color: black;
  font-family: tahoma, arial, sans-serif;
}

p {
  margin-left: 2%;
  margin-top: 0.5em;
  font-family: sans-serif;
  font-size: 1.0em;
  color: black;
}

#create {
  margin: 2em;
}

form button {
  position: relative;
  left: 21.9em;
  /*width: 10em;*/
  height: 2em;
  text-align: left;
  font-size: 1.5em;
}

#blue {
  color: #5080D0;
}

#gray {
  color: #808080;
}

#orange {
  color: #E06000;
}

#code {
  margin: 3em;
  font-family: courier;
  font-size: 1em;
}

#done,#green {
  color: #009000;
}

a {
  color: white;
  text-decoration: none;
}

td a {
  color: #5080d0;
}

#filelist {
  font-family: courier;
  font-size: 1.2em;
}

#filename {
  color: #aaffaa;
}

#dirname {
  color: #aaaaff;
}

#icon {
  height: 64px;
  width: auto;
  vertical-align: middle;
  margin-right: 8px;
}

#filedesc {
  color: #808080;
  margin-left: 3.8em;
  top: -1.2em;
  position: relative;
}

#viewfilebg {
  border-radius: 0.9em;
  -webkit-border-radius: 0.9em;
  -moz-border-radius: 0.9em;
  padding: 1em;
  margin-left: 3em;
  margin-right: 5em;
  background: rgba(0, 0, 0, .5);
}

#drawbg {
  border-radius: 0.9em;
  -webkit-border-radius: 0.9em;
  -moz-border-radius: 0.9em;
  padding: 1em;
  margin-left: 3em;
  margin-right: 12em;
  background: black;
}

table {
  border-style: solid;
  border-width: 2px;
  border-color: gray;
  border-radius: 0.9em;
  -webkit-border-radius: 0.9em;
  -moz-border-radius: 0.9em;
  background-color: white; /*rgba(0, 0, 0, .6);*/
}

#notice {
  /*border-style: solid;
  border-width: 2px;
  border-color: black;*/
  border-radius: 0.9em;
  -webkit-border-radius: 0.9em;
  -moz-border-radius: 0.9em;
  text-align: right;
  font-size: 0.6em;
  /*color: #707070;*/
  color: gray;
  /*position:absolute;*/
  margin-top: 1em;
  /*left:90%;*/
  padding: 0.6em;
  /*top: 19%;*/
  /*top: 85%;*/
  width: 100%;
  margin-left: 1em;
  background-color: rgba(0, 0, 0, 0.05);
}

#freecontent {
  margin-left: 3em;
  margin-right: 3em;
  margin-top: -2em;
}

#content {
  margin-top: -2.2em;
  margin-left: 0em;
  padding-top: 0.5em;
  z-index: -1;
  /*border-style: solid;
  border-width: 2px;
  border-color: black;*/
  border-radius: 0.2em 9.0em 0 0;
  -webkit-border-radius: 0.2em 0.9em 0 0;
  -moz-border-radius: 0.2em 0.9em 0 0;
  background-color: #d9d9d9; /*rgba(255, 255, 255, 0.4);*/
  /*position:absolute;*/
  width:90%;
  /*height:60%;*/
  color: black;
}

li a {
  border-radius: 0.9em;
  -webkit-border-radius: 0.9em;
  -moz-border-radius: 0.9em;
}

#endrow {
  margin: 0;
  padding: 0.5em;
  border-style: none;
}

th {
  padding: 8px;
  color: black;
  text-align: left;
}

td {
  border-style: solid;
  border-width: 1px;
  border-color: black;
  padding: 8px;
}

#odd {
  background-color: #a0a0a0;
  color: #101010;
}

#even {
  background-color: #707070;
  color: #101010;
}

#blacklink {
  color: black;
}

#whitelink {
  color: white;
}

#indent {
  margin-left: 1.5em;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}

#nav {
  line-height: 50%;
  font-size: 0.9em;
  color: #666;
  margin: 0;
  margin-top: -1em;
  padding: 7px 6px 0;
  background: rgba(0,0,0,.4);
  width: 100%;
  border-radius: 0.9em;
  -webkit-border-radius: 0.9em;
  -moz-border-radius: 0.9em;
  border-color: rgba(160,160,160,.8);
  border-style: solid;
  border-width: 2px;
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0, .4);
  -moz-box-shadow: 0 1px 3px rgba(0,0,0, .4);
}

#nav li {
  margin: 0 5px;
  padding: 0 0 8px;
  float: left;
  position: relative;
  list-style: none;
}

/* main level link */
#nav a {
  font-weight: bold;
  color: #dadada; /*#e7e5e5;*/
  text-decoration: none;
  display: block;
  padding:  8px 20px;
  margin: 0;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  /*text-shadow: 0 1px 1px rgba(0,0,0, .3);*/
}
#nav a:hover {
  background: black;
  /*color: white;*/
}

/* main level link hover */
#nav .current a, #nav li:hover > a {
  background: #5080d0; /*rgba(0.4, 0.6, 0.8, 0.9);*/ /*#666 url(../img/gradient.png) repeat-x 0 -40px;*/
  color: #202020; /*#203060;*/ /*#444;*/
  /*border-top: solid 1px #f8f8f8;*/
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0, .2);
  -moz-box-shadow: 0 1px 1px rgba(0,0,0, .2);
  box-shadow: 0 1px 1px rgba(0,0,0, .2);
  /*text-shadow: 0 1px 0 rgba(255,255,255, 1);*/
}

/* sub levels link hover */
#nav ul li:hover a, #nav li:hover li a {
	background: none;
	border: none;
	color: #666;

	-webkit-box-shadow: none;
	-moz-box-shadow: none;
}
#nav ul a:hover {
	background: #0078ff url(../img/gradient.png) repeat-x 0 -100px !important;
	color: #fff !important;

	-webkit-border-radius: 0;
	-moz-border-radius: 0;

	text-shadow: 0 1px 1px rgba(0,0,0, .1);
}

/* dropdown */
#nav li:hover > ul {
	display: block;
}

/* level 2 list */
#nav ul {
	display: none;

	margin: 0;
	padding: 0;
	width: 185px;
	position: absolute;
	top: 35px;
	left: 0;
	background: #ddd url(../img/gradient.png) repeat-x 0 0;
	border: solid 1px #b4b4b4;

	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;

	-webkit-box-shadow: 0 1px 3px rgba(0,0,0, .3);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0, .3);
	box-shadow: 0 1px 3px rgba(0,0,0, .3);
}
#nav ul li {
	float: none;
	margin: 0;
	padding: 0;
}

#nav ul a {
	font-weight: normal;
	text-shadow: 0 1px 0 #fff;
}

/* level 3+ list */
#nav ul ul {
	left: 181px;
	top: -3px;
}

/* rounded corners of first and last link */
#nav ul li:first-child > a {
	-webkit-border-top-left-radius: 9px;
	-moz-border-radius-topleft: 9px;

	-webkit-border-top-right-radius: 9px;
	-moz-border-radius-topright: 9px;
}
#nav ul li:last-child > a {
	-webkit-border-bottom-left-radius: 9px;
	-moz-border-radius-bottomleft: 9px;

	-webkit-border-bottom-right-radius: 9px;
	-moz-border-radius-bottomright: 9px;
}

/* clearfix */
#nav:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
#nav {
	display: inline-block;
} 
html[xmlns] #nav {
	display: block;
}
 
* html #nav {
	height: 1%;
}
