# For debugging purposes
# TODO: Fix

[Unit]
Description=ArchLinux.no server (development)

[Service]
User=alexander
ExecStart=/home/alexander/checkout/archlinuxno/archweb
ExecReload=/bin/kill -HUP $MAINPID
KillSignal=SIGQUIT
Restart=always

[Install]
WantedBy=multi-user.target
